body {
  background-color: white;
  color: black;
}

a {
    text-decoration: none;
    color: black;
  }
a:hover {
    text-decoration: underline;
  }

.header {
  margin-top: 2%;
  margin-bottom:1%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  }

.header > img {
  height: auto;
	width:100%;
  display: inline-block;
  float: none;
  }

nav {
  font-family: Verdana;
  text-align: left;
  font-weight: bold;
  margin-left: 8%;
  margin-right: 8%;

  }

nav ul {
  display: inline-block;
  width: 50%;
}

nav li {
  margin: 0;
  padding: 1.5%;
  display: inline-block;
  }

#contact-btn a {
  border: 1px solid black;
  padding: 15%;
  }

#contact-btn a:active {
  position: relative;
  bottom: 2px;
}

#allegro-btn {
  display: inline-block;
  position: sticky;
  right: 3%;
  left: 50%;
  border: 3px solid #ff5900;
  border-radius: 5px;
  float: right;
  margin-top: 1%;
  margin-right: 2%;
  padding: 0.5%;
  }
